body {
    background: url('../img/brewery.jpg') no-repeat fixed;
    background-size: cover;
}

.main {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    overflow: hidden;
}

.header {
    text-align: center;
}

.questionnaire {
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    padding-left: 10px;
}

.inputs {
    max-width: 300px;
}

.inputsForm {
    padding-left: 45px;
}

.place {
    font-size: 18px;
    margin-top: 20px;
}

input.invalid, textarea.invalid {
    border: 3px solid red;
}

input.valid, textarea.valid {
    border: 3px solid green;
}

.mistake {
    color: red;
}

.ok {
    color: green;
}

.underOrderList {
    list-style-type:none;
}